.container {
    width: 50%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.counters {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.counter * {
    margin: 0 10px;
}
.btn {
    cursor: pointer;
    border: 0;
}
.btn-round {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 24px;
}

input {
    width: 30px;
    height: 30px;
    padding: 0px 5px;
}